$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

/************** Loader conteneur ***************/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    animation: fadeOut 0.5s 3s forwards;
}

/**************** Animation disparition ***********/

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader__dots {
    display: flex;
    gap: 15px;
}

.loader__dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}

.loader__dot--1 {
    background-color: $primary; // violet
    animation-delay: 0s;
}

.loader__dot--2 {
    background-color: $secondary; // rose
    animation-delay: 0.2s;
}

.loader__dot--3 {
    background-color: $tertiary; // vert
    animation-delay: 0.4s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-30px);
    }
}