$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

/************** Loader conteneur ***************/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    animation: fadeOut 0.5s 3s forwards;

    &__dots {
        display: flex;
        gap: 15px;
    }

    &__dot {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        animation: bounce 0.6s infinite alternate;
    }

    &__dot--1 {
        background-color: $primary; // violet
        animation-delay: 0s;
    }

    &__dot--2 {
        background-color: $secondary; // rose
        animation-delay: 0.2s;
    }

    &__dot--3 {
        background-color: $tertiary; // vert
        animation-delay: 0.4s;
    }
}

/**************** Animation disparition ***********/

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}



@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-30px);
    }
}