body {
    margin: 0px;
    padding: 0px;
}

/************ EN-TETE ************/

.logo {
    font-family: "Shrikhand";
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    height: 50px;
    box-shadow: inset 0 3px 5px #babababf
}

.town::before {
    font-family: "FontAwesome";
    content: "\f041";
    margin-right: 0.5rem;
    color: #353535;
}

.town {
    font-family: "Roboto";
    font-weight: 500;
}

.discovery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaeaea77;
    box-shadow: inset 0 4px 2px #babababf;
    padding-top: 40px;
    padding-bottom: 50px;
}

.reservation {
    font-family: "Roboto";
    font-weight: 600;
    margin: 0px;
    width: 255px;
    text-align: center;
}

.discovery p {
    font-family: "Roboto";
    font-weight: 300;
    text-align: center;
    width: 300px;
}

.discovery a {
    text-decoration: none;
    font-family: "Roboto";
    color: white;
    padding: 10px 15px;
    border: 0px solid black;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, #FF79DA 0%, #9356DC 90%);
    box-shadow: 2px 3px 2px #babababf;
}

/************ Main ************/

/************ Fonctionnement ************/

.functioning {
    font-family: "Roboto";
    font-weight: 500;
}

.title {
    font-family: "Roboto";
    font-weight: 600;
    margin-left: 20px;
}

.tuto {
    display: flex;
    margin-left: 20px;
    position: relative;
}

.def {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    border-radius: 20px;
    height: 70px;
    width: 300px;
    margin-top: 0;
    margin-left: 12px;
    background-color: #eaeaea77;
    box-shadow: 0 4px 10px #babababf;
}

.def1::before {
    position: absolute;
    left: 50px;
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    content: "\f3ce";
    color: #8f8f8f;
    margin-right: 5px
}

.def2::before {
    position: absolute;
    left: 50px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0c9";
    color: #8f8f8f;
    margin-right: 7px;
}

.def3::before {
    position: absolute;
    left: 50px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f54e";
    color: #9356DC;
    margin-right: 7px;
}


.numbers {
    position: absolute;
    border: 0px solid black;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    text-align: center;
    margin: 0;
    bottom: 40px;
    background-color: #9356DC;
    color: white;
}

.numbers p {
    margin: 3px 0px;
}

/************ Restaurants ************/

.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaeaea6c;
    padding-bottom: 30px;
}

.restaurants h2 {
    align-self: baseline;
    margin-left: 17px;
    font-family: "Roboto";
}

.card {
    position: relative;
    width: 340px;
    height: 240px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px #babababf;
}

.card a {
    text-decoration: none;
    color: black;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.news {
    position: absolute;
    z-index: 2;
    color: #028b69;
    background-color: #99E2D0;
    right: 13px;
    margin-top: 10px;
    padding: 5px 5px 0 10px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1em;
    height: 25px;
    width: 70px;
    border-radius: 5px;
}

.card-img img {
    position: relative;
    width: 340px;
    height: 170px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: 50% 90%;
}

.img-enchantee img {
    object-position: 50% 62%;
}

.card-description {
    display: flex;
    justify-content: space-between;
}

.card-txt {
    font-family: "Roboto";
    font-weight: 270;
}

.card-txt h3,
.card-txt p {
    margin: 5px 0 0 10px;
}

.heart-empty {
    margin: 17px 30px 0 0;
}

.heart-empty i {
    font-size: 2em;
    transition: color 0.7s;
}

.like-checkbox {
    display: none;
}

.like-checkbox:checked+.like-label i {
    color: #FF79DA;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.like-label {
    cursor: pointer;
}

/************ Footer ************/

footer {
    background-color: #353535;
    padding-bottom: 20px;
}

article {
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    margin-left: 20px;
    color: white;
    font-family: "Roboto";
}

article a {
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

article h3 {
    font-family: "Shrikhand";
    font-weight: 100;
}

.icone-footer {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    gap: 10px;
}

.icone-footer i {
    font-size: 0.7em;
}

.forks i {
    margin-right: 4px;
}